@import "../_variables.styl"

.navbar-toggle
  display none

.header
  padding 24px 0
  height 100px

  .logo
    float left
    margin 0
  .logo_link
    font-size 44px
    color $color-theme
    font-family "Raleway"
  .nav
    float right
    padding 10px 0 5px
    font-family Athelas, STHeiti, "Microsoft Yahei", serif
    font-size 0
  .nav-link
    position relative
    display inline-block
    width 100px
    height 40px
    line-height 40px
    padding 0
    text-align center
    vertical-align middle
    color #555
    font-size 18px
    &:before
      position absolute
      top 0
      left 0
      width 100%
      height 1px
      content ""
      background $color-theme
      -webkit-transition top 0.3s
      -moz-transition top 0.3s
      -ms-transition top 0.3s
      -o-transition top 0.3s
      transition top 0.3s
    &:after
      position absolute
      top 0
      left 0
      width 1px
      height 1px
      content ""
      background $color-theme
      -webkit-transition height 0.3s
      -moz-transition height 0.3s
      -ms-transition height 0.3s
      -o-transition height 0.3s
      transition height 0.3s
    &:hover:before, &.active:before
      top 100%
    &:hover:after, &.active:after
      height 100%

@media (max-width: 767px)
  .header
    padding 10px
    height 60px
    .nav
      display none

  .navbar-toggle
    float left
    display block
    border none
    padding 4px 2px
    width 40px
    height 30px
    background none

  .icon-bar
    display block
    width 36px
    height 1px
    background $color-theme

  & + .icon-bar
    margin-top 14px

