@import "../_variables.styl"

.logo_link
  color $color-theme
  font-family "Raleway", serif

.header
  padding 24px 0
  height 100px

  .logo
    float left
    margin 0

  .logo_link
    font-size 44px

  .nav
    float right
    padding 10px 0 5px
    font-family Athelas, STHeiti, "Microsoft Yahei", serif
    font-size 0
  .nav_link
    position relative
    display inline-block
    width 100px
    height 40px
    line-height 40px
    padding 0
    text-align center
    vertical-align middle
    color #555
    font-size 18px
    &:before
      position absolute
      top 0
      left 0
      width 100%
      height 1px
      content ""
      background $color-theme
      -webkit-transition top 0.3s
      -moz-transition top 0.3s
      -ms-transition top 0.3s
      -o-transition top 0.3s
      transition top 0.3s
    &:after
      position absolute
      top 0
      left 0
      width 1px
      height 1px
      content ""
      background $color-theme
      -webkit-transition height 0.3s
      -moz-transition height 0.3s
      -ms-transition height 0.3s
      -o-transition height 0.3s
      transition height 0.3s
    &:hover:before, &.active:before
      top 100%
    &:hover:after, &.active:after
      height 100%

@media (max-width: 767px)
  .header
    display none

  .header-mobile
    z-index 9
    position relative
    display block
    -webkit-box-shadow 0 3px 3px #ccc
    -moz-box-shadow: 0 3px 3px #ccc
    box-shadow 0 3px 3px #ccc
    border-bottom 1px solid #ccc
    height 50px
    text-align center

  .logo
    height 50px

  .logo_link
    height 50px
    line-height 50px
    font-size 32px

  .navbar-toggle
    position relative
    float left
    border none
    padding 18px 10px
    width 50px
    height 50px
    background none
    -webkit-transition: transform 0.3s
    -moz-transition: transform 0.3s
    -ms-transition: transform 0.3s
    -o-transition: transform 0.3s
    transition: transform 0.3s
    &:hover
      cursor pointer

  .navbar-toggle.active
    -webkit-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    -ms-transform: rotate(90deg)
    -o-transform: rotate(90deg)
    transform: rotate(90deg)

  .icon-bar
    display block
    width 30px
    height 1px
    background $color-theme
    & + .icon-bar
      margin-top 12px

  .nav
    position absolute
    top 50px
    left 0
    width 100%
    background: #fff

  .nav_link
    display block
    height 36px
    line-height 36px
