@import "../_variables.styl"

.pg
  margin 20px 0

.pg-link
  font-family "Raleway Webfont", Athelas, STHeiti, "Microsoft Yahei", serif
  color $color-highlight
.pg-link.prev
  float left
.pg-link.next
  float right

.pg-link_txt
  font-size 20px