@import "../_variables.styl"


.posts
  border-bottom 1px solid #ddd
  p
    text-align justify
    -ms-text-justify distribute
    text-justify distribute

.post .post-content
  code, pre
    font-size 15px
    font-family Consolas, Monaco, Menlo, Consolas, monospace


.post
  padding 12px 0 24px
  font-family Athelas, STHeiti, "Microsoft Yahei", serif
  &:before
  &:after
    content ''
    display table
  &:after
    clear both
  & + .post
    border-top: 1px solid #ddd


.post-title
  margin 0
  font-weight 400


.post-link
  position relative
  display inline-block
  height 40px
  line-height 40px
  font-size 28px
  color $color-highlight
  &:focus
  &:hover
    &:after
      max-width 100%
  &:after
    position absolute
    top 0
    left 0
    height 100%
    overflow hidden
    max-width 0
    border-bottom 2px solid $color-theme
    color: $color-theme
    content attr(data-hover)
    -webkit-transition: max-width 0.5s
    -moz-transition: max-width 0.5s
    -ms-transition: max-width 0.5s
    -o-transition: max-width 0.5s
    transition: max-width 0.5s


.post-content
  color $color-text


.post-meta
  margin 2px 0 0
  height 18px
  line-height 18px
  vertical-align: baseline
  font-size 14px
  color $color-light
  font-family STHeiti, "Microsoft Yahei", "Source Sans Pro", "Helvetica Neue", Arial, serif
  .iconfont
    font-size 14px
  a
    &:hover
      color #454545


.post-tag
  float left
  color $color-light
  font-size 15px
  &:hover
    color #454545
  .iconfont
    font-size 15px


.read-more
  float left
  clear left
  height 22px
  &:hover
    border-bottom 1px solid $color-theme


.read-more_link
  line-height 22px
  text-decoration none

  color $color-theme


.post-footer
  &:before
  &:after
    content ''
    display table
  &:after
    clear both