@import "../_variables.styl"

.post-title
  margin 0
  font-weight 400

.post-link
  line-height 42px
  font-size 28px
  color $color-text

.post-content
  color $color-text

.post-meta
  line-height 24px
  font-size 15px
  color $color-light