$color-link = #76a519
$color-text = #444
$color-highlight = #353535
$color-light = #777
$color-theme = #5f8c04
$color-info = #259dff
$color-primary = #690
$color-danger = #dd4a68




highlight = hexo-config("customize.highlight") || "tomorrow-night"

